body {
  font-family: "Inconsolata";
  font-size: 12px;
  color: #333333;
  height: 267mm;
  width: 180mm;
  padding: 0;
  border: 0;
  margin: 15mm;
  letter-spacing: -0.01em;
  zoom: 1.2;
  line-height: 1.5;
}

h1 {
  margin: 20px 0;
  padding: 1px 0;
  border-bottom: 1px solid #333333!important;
}

h2 {
  font-weight: bold;
  margin: 20px 0 8px 0;
}

h3 {
  font-style: italic;
}

code {
  font-size: 11px;
  font-weight: 400;
  color: #333333;
  background-color: #efefef;
  border-radius: 2px;
  padding: 0 2px;
}

blockquote {
  font-size: 12px;
  font-style: italic;
  color: #aaaaaa;
  border-left: 2px solid #aaaaaa;
  padding: 5px;
  margin: 5px 0;
  background-color: #efefef;
}

blockquote p {
  margin: 0;
}

pre {
  margin: 5px 0;
  padding: 2px 0;
}

pre code {
  padding: 0px;
}

@media print {
  body {
    zoom: 1;
  }
}

@page {
  margin: 15mm 30mm 15mm 15mm;
}