body {
  font-family: "Inconsolata";
  font-size: 13px;
  color: #333333;
  height: 267mm;
  width: 180mm;
  padding: 0;
  border: 0;
  margin: 15mm;
  letter-spacing: -0.01em;
  zoom: 1.2;
  line-height: 1.5;
}

a {
  color: #333333;
  text-decoration: underline;
  font-style: italic;
}

h1 {
  margin: 20px 0;
  padding: 1px 0;
  border-bottom: 1px solid #333333!important;
}

h2 {
  font-weight: bold;
  margin: 20px 0 5px 0;
}

h3 {
  font-style: normal;
  font-weight: 600;
  margin: 12px 0 5px 0;
}

h4 {
  font-weight: bold;
}

code {
  font-size: 11px!important;
  font-weight: normal;
  color: #333333!important;
  background-color: #efefef;
  padding: 0 2px;
  border-radius: 2px;
}

blockquote {
  font-size: 13px;
  color: #aaaaaa;
  border-left: 4px solid #aaaaaa;
  padding: 5px 7px;
  margin: 5px 0;
  border-radius: 2px;
  background-color: #efefef;
  border-radius: 3px;
}

blockquote p {
  margin: 0;
}

pre {
  margin: 5px 0;
  padding: 0;
  border: none;
}

pre code {
  margin: 0;
  padding: 0;
  border-radius: 3px;
}

@media print {
  body {
    zoom: 1;
  }
}

@page {
  margin: 15mm 30mm 15mm 15mm;
}