"*":
  Hydrogen:
    autocomplete: false
    gateways: "[{ \"name\": \"R 3.6.2 (local)\", \"options\": { \"baseUrl\": \"http://127.0.0.1:8889\", \"token\": 1 } }]"
    importNotebookResults: false
    languageMappings: "{ \"python\": \"python\", \"wolfram language\": \"mathematica\", \"r\": \"R Markdown\", \"javascript\": \"JavaScript\" }"
    outputAreaDefault: true
    outputAreaDock: true
    outputAreaFontSize: 12
    startDir: "dirOfFile"
  "atom-alignment": {}
  "atom-beautify":
    general:
      _analyticsUserId: "930a007c-8bcb-4052-952f-3f2aebf5d676"
  "atom-package-deps":
    ignored: []
  "atom-python-test":
    onlyShowPanelOnFailure: true
    outputColored: true
  autosave:
    enabled: true
  core:
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "vendor"
    ]
    packagesWithKeymapsDisabled: [
      "devdocs"
      "python-black"
      "kite"
    ]
    projectHome: "/Users/spren9er/Development"
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    titleBar: "custom-inset"
    useTreeSitterParsers: false
  editor:
    fontFamily: "Fira Code"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "d23ad352-d22c-4d0b-aa84-d34b4cfd78da"
  "file-icons":
    coloured: false
  "find-and-replace":
    focusEditorAfterSearch: true
    scrollToResultOnLiveSearch: true
  "fuzzy-finder":
    preserveLastSearch: true
    scoringSystem: "fast"
    searchAllPanes: true
    useRipGrep: true
  "git-blame":
    dateFormatString: "YYYY/MM/DD"
    showOnlyLastNames: true
  kite:
    enableHoverUI: false
    showGoBetaNotification: false
    showWelcomeNotificationOnStartup: false
    startKiteAtStartup: false
  "linter-flake8":
    executablePath: "/Users/spren9er/.asdf/shims/flake8"
    maxLineLength: 88
    projectConfigFile: [
      "setup.cfg"
    ]
  "linter-lintr":
    linters: "default_linters[names(default_linters) != 'single_quotes_linter']"
  "linter-rubocop":
    command: "/Users/spren9er/.asdf/shims/rubocop"
  "linter-ui-default":
    alwaysTakeMinimumSpace: true
    decorateOnTreeView: "None"
    showPanel: true
  "markdown-preview":
    useGitHubStyle: true
  "python-black":
    binPath: "/Users/spren9er/.asdf/shims/black"
    showErrors: "hide"
    skipStringNormalization: true
  "spell-check":
    useLocales: false
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: false
  welcome:
    showOnStartup: false
".python.source":
  editor:
    preferredLineLength: 88
    tabLength: 4
".python.text.traceback":
  editor:
    preferredLineLength: 88
