atom-text-editor {
  -webkit-font-smoothing: subpixel-antialiased;
}

.gfm-pdf table {
  table-layout: auto!important;
}

.hydrogen .output-area {
  .background-message {
    display: none;
  }

  .multiline-container {
    font-family: monospace;
  }
}
