/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */


/*
 * Examples
 * (To see them, uncomment and save)
 */

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  -webkit-font-smoothing: subpixel-antialiased;
}

.gfm-pdf table {
  table-layout: auto!important;
}

.hydrogen .output-area .background-message {
  display: none;
}
