atom-text-editor {
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: -0.2pt;

  .syntax--comment {
    color: #cecece;
  }

  .indent-guide {
    color: #efefef;
  }
}

.gfm-pdf table {
  table-layout: auto!important;
}

.hydrogen .output-area {
  .background-message {
    display: none;
  }

  .multiline-container {
    font-family: 'Inconsolata', monospace;
    font-size: 12px!important;
    background-color: #ffffff;
    color: #111111;

    .cell_display div {
      padding: 5px 0;
    }

    .js-plotly-plot .plotly .modebar {
      display: none;
    }
  }
}
